<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Pet Clinic</title>
</head>
<body>
<!-- /*@thymesVar id="owner" type="anup.learnspring.model.Owner" */-->
<h1 th:text="'List of Owners'"> Owners Index Page Default</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">Default</td>
            <td th:text="${owner.firstName}">Default</td>
            <td th:text="${owner.lastName}">Default</td>
        </tr>
    </tbody>

</table>
</body>
</html>
